@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
    ;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
}

.cancel-svg {
    position: absolute;
    filter: invert();
    right: 20px;
    top: 18px;
    width: 36px;
    display: none;
    z-index: 3;
}

.left {
    width: 25vw;
    height: 100vh;
    
}

.home {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #141414;
}

.library {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #141414;
    height: 40vh;
}

.right {
    position: relative;
    width: calc(75vw - 10px);
    border: 1px solid black;
    border-radius: 10px;
    background-color: #141414;
    height: calc(100vh-10px); /*margin-5 is applied */ 
}

.hamburger {
    display: none;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.spotifyPlaylist>h2{
    margin: 10px 0px 15px 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home ul li {
    width: 30px;
    gap: 15px;
    list-style: none;
}

.heading {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer {
    bottom: 0;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
    font-size: 12px;
    padding: 25px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 20px;
    height: 50px;
}

.cardContainer {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: scroll;
    max-height: 70vh;
}

.card {
    width: 175px;
    padding: 20px;
    background-color: rgba(23, 23, 23, 1);
    border-radius: 10px;
    text-wrap: stable;
    
}
.card:hover{
    box-shadow: 0 0 15px #3c6d4d
}
.cardShadow{
    box-shadow: 0 0 15px #3c6d4d
}

.cardImage {
    position: relative;
}

.cardImage>img {
    width: 100%;
    object-fit: contain;
}

    .play-button {
        position: absolute;
        right: 10px;
        bottom: 15px;
        width: 40px !important;
        background-color: #1fdf64;
        border-radius: 50%;
        padding: 10px;
        opacity: 1; 
    }
        

.card>p {
    font-size: 12px;
    font-weight: lighter;
    color: gray;
}

.card:hover .play-button {
    animation-name: hover;
    animation-duration: .4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hover {
    from {
        right: 10px;
        bottom: 0px;
        opacity: 0;
    }

    to {
        right: 10px;
        bottom: 15px;
        opacity: 1;
    }
}

.buttons * {
    margin: 0 12px;
   
}

.signUp {
    background-color: #1a1a1a;
    border: none;
    outline: none;
    font-size: 16px;
    color: grey;
    padding: 5px;
}

.signUp:hover {
    color: white;
    padding: 6px;
    cursor: pointer;
}

.login {
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 1em;
    width: 6em;
    font-size: 13px;
}

.login:hover {
    padding: 16px;
    cursor: pointer;
}

.songsList {
    max-height: calc(100% - 40px);
    overflow-y: scroll ;
    /* color: #1fdf64; */
}

.songsList ul {
    padding: 10px 5px;

}

.songsList ul li {
    cursor: pointer;
    position: relative;
    overflow-wrap: break-word;
    list-style: decimal;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
    height: 50px;
    
}

.songsList ul li span {
    display: flex;
    overflow-y: hidden;
    height: 40px;
    width: 150px;
    font-size: small;
    align-items: center;
    overflow-wrap: break-word;
}

#plbtn {
    position: absolute;
    right: 0;
}

.playerContaier{
    display: flex;
    justify-content: center;
}

.player {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #212121;
    /* border: 2px solid wheat; */
    width: 70vw;
    height: 60px;
    bottom: 20px;
    border-radius: 10px;

}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }
 /* **** Track Styles ****
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #1fdf64;
    height: .3rem;
    border-radius: 31px;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;

    margin-top: -2px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;
    overflow-y: clip;
    font-size: small;

}
.duration{
    width: 100%;
    text-align: center  ;
    
}

.timevol{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5em;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.songInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;

}

.seekbar {
    position: absolute;
    bottom: 4px;
    width: 65vw;
    height: 5px;
    background-color: #1fdf64;
    margin-bottom: 2px;
    cursor: pointer;
    margin: 2px;
}

.circle {
    position: relative;
    bottom: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    left: 0;
    transition: left .5s ease;
}



@media (max-width:1200px) {
    .left {
        position: absolute;
        left:-100%;
        z-index: 2;
        background-color: black;
    }

    .right {
        width:99vw;
        height:calc(100vh - 10px);
    }

    /* for hamburger*/
    .hamburger {
        display: block;
    }
    .login,.signUp{
        font-size: x-small;
    }
    .cardContainer{
        display: flex;
        justify-content: center;
        max-height: 50vh;
    }
    .card{
        width: 70vw;

    }
    .player{
        height: 170px;
        width: 85vw;
    }
    .songInfo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .songInfo>*{
        width: 100%;
    }
    .timevol{
        flex-direction: column;
        gap:0;
        margin-bottom: 10px
    }

}

.hamburger-effect{
    left: 0;
    width: 315px;
}
.after-hamburger-effect{
    left:-100%;
}